html {
  height: 100%;
}
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 70px 0 0 0;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  -webkit-highlight: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#container {
  margin: 0 40px;
}
.remote {
  display: none;
}
.remote.active {
  display: block;
}
.hidden {
  display: none !important;
}

.col-1{
    float:left;
    width: 50px;
}

.content-2-1 {
    float:left;
    width:400px;
    padding-left:0px;
}

.content-2-2 {
    float:left;
    width:400px;
    padding-left: 0px;
}

.artist-name {
    width: 400px !important;
}  

.bs-sidebar .nav > .active > ul {
    display: block;
    margin-bottom: 8px;
}

.btn-override {
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-color: #2C2D2E !important;
  background-color: #2C2D2E !important;
  color: #9B9B9B !important;
}

body { padding-bottom: 55px; }